{% extends "frontend.twig" %}

{% block content %}
    {% if auth.is_granted_admin == true %}
        <a href="{{ path_for('author_create') }}" class="btn btn-primary">Create Author</a>
        <hr>
    {% endif %}
    {% for author in authors %}
        <ul class="list-group">
            <li class="list-group-item justify-content-between">
                {{ author.fullName }}
                {% if auth.is_granted_admin == true %}
                    <span class="buttons pull-right">
                        <a href="{{ path_for('author_edit', { 'id': author.id }) }}"
                           class="btn btn-warning btn-xs">Edit</a>
                        <a href="#"
                           data-href="{{ path_for('author_delete', { 'id': author.id }) }}"
                           class="btn btn-danger btn-xs"
                           data-toggle="modal"
                           data-target="#confirm-delete">Delete</a>
                    </span>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
{% endblock %}
