{% extends "frontend.twig" %}

{% block content %}
    {% if auth.is_granted_admin == true %}
        <a href="{{ path_for('book_create') }}" class="btn btn-primary">Create Book</a>
        <hr>
    {% endif %}
    {% for book in books %}
        <ul class="list-group">
            <li class="list-group-item justify-content-between">
                {{ book.title }}
                {% if auth.is_granted_admin == true %}
                    <span class="buttons pull-right">
                        <a href="{{ path_for('book_edit', { 'id': book.id }) }}"
                           class="btn btn-warning btn-xs">Edit</a>
                        <a href="#"
                           data-href="{{ path_for('book_delete', { 'id': book.id }) }}"
                           class="btn btn-danger btn-xs"
                           data-toggle="modal"
                           data-target="#confirm-delete">Delete</a>
                    </span>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
{% endblock %}
