{% extends "frontend.twig" %}

{% macro form_errors(field) %}
    <span class="help-block">{{ error(field) }}</span>
{% endmacro %}

{% block content %}
    <h1>{{ action|capitalize }} Author</h1>
    <hr>
    <div class="row">
        <form class="form-horizontal" id="author-form" novalidate action="{% if action == 'create' %} {{ path_for('author_create') }} {% else %} {{ path_for('author_edit', {'id' : author.id }) }} {% endif %}" method="post" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">Full name:</label>
                <div class="col-lg-8 form-group{% if has_error('fullName') %} has-error{% endif %}">
                    <input class="form-control" type="text" name="fullName" id="fullName" tabindex="1" placeholder="Full name" value="{{ author.fullName }}">
                    {{ _self.form_errors('fullName') }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    {% if action == 'create' %}
                        <input type="submit" class="btn btn-primary" value="Save">
                    {% else %}
                        <input type="submit" class="btn btn-warning" value="Save Changes">
                    {% endif %}
                    <span></span>
                    <a href="{{ path_for('author') }}" class="btn btn-default">Cancel</a>
                </div>
            </div>
            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
        </form>
    </div>
{% endblock %}
