{% extends "frontend.twig" %}

{% block content %}
    {% for user in users %}
        <ul class="list-group">
            <li class="list-group-item justify-content-between">
                {{ user.fullName }}
                <span class="badge badge-default badge-pill">{{ user.role }}</span>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
