{% extends "layout.twig" %}

{% block body %}
    {% if section is not defined %}
        {% set section = false %}
    {% endif %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path_for('home') }}">User App</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a data-section="author" href="{{ path_for('author') }}">Authors</a></li>
                <li><a data-section="book" href="{{ path_for('book') }}">Books</a></li>
                {% if auth.is_granted_admin == true %}
                    <li><a data-section="user" href="{{ path_for('admin_user') }}">Users</a></li>
                {% endif %}
            </ul>
            {% if auth.check %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path_for('register') }}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                    <li><a href="{{ path_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <input type="hidden" name="section" id="section" value="{{ section }}">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% if auth.is_granted_admin == true %}
        {% include './@modalDialogs/confirmDelete.twig' %}
    {% endif %}
{% endblock %}
