<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website" />
        {% block stylesheets_vendor %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ path_for('home') }}css/130-bootstrap-datetimepicker.css">
            <link rel="stylesheet" href="{{ path_for('home') }}css/112-select2.css">
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts_vendor %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="{{ path_for('home') }}js/01-func.js"></script>
            <script src="{{ path_for('home') }}js/10-base.js"></script>
            <script src="{{ path_for('home') }}js/15-moment.js"></script>
            <script src="{{ path_for('home') }}js/40-select2.full.js"></script>
            <script src="{{ path_for('home') }}js/21-bootstrap-datetimepicker.js"></script>
            <script src="{{ path_for('home') }}js/100-book-authors.js"></script>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
