{% extends "form_layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .btn-login {
            background-color: #59B2E0;
            outline: none;
            color: #fff;
            font-size: 14px;
            height: auto;
            font-weight: normal;
            padding: 14px 0;
            text-transform: uppercase;
            border-color: #59B2E6;
        }
        .btn-login:hover,
        .btn-login:focus {
            color: #fff;
            background-color: #53A3CD;
            border-color: #53A3CD;
        }
    </style>
{% endblock %}

{% macro form_errors(field) %}
    <span class="help-block">{{ error(field) }}</span>
{% endmacro %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="{{ path_for('register') }}" id="register-form-link">Register</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group{% if has_error('failure') %} has-error{% endif %}">
                                    {{ _self.form_errors('failure') }}
                                </div>
                                <form id="login-form" action="{{ path_for('login') }}" method="post" role="form" style="display: block;">
                                    <div class="form-group{% if has_error('email') %} has-error{% endif %}">
                                        <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Username" value="{{ val('email') }}">
                                        {{ _self.form_errors('email') }}
                                    </div>
                                    <div class="form-group{% if has_error('password') %} has-error{% endif %}">
                                        <input type="password" name="password" id="password" tabindex="3" class="form-control" placeholder="Password">
                                        {{ _self.form_errors('password') }}
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                                    <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
