{% extends "form_layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .btn-register {
            background-color: #1CB94E;
            outline: none;
            color: #fff;
            font-size: 14px;
            height: auto;
            font-weight: normal;
            padding: 14px 0;
            text-transform: uppercase;
            border-color: #1CB94A;
        }
        .btn-register:hover,
        .btn-register:focus {
            color: #fff;
            background-color: #1CA347;
            border-color: #1CA347;
        }
    </style>
{% endblock %}

{% macro form_errors(field) %}
    <span class="help-block">{{ error(field) }}</span>
{% endmacro %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{ path_for('login') }}" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" class="active" id="register-form-link">Register</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group{% if has_error('failure') %} has-error{% endif %}">
                                    {{ _self.form_errors('failure') }}
                                </div>
                                <form id="register-form" novalidate action="{{ path_for('register') }}" method="post" role="form">
                                    <div class="form-group{% if has_error('fullName') %} has-error{% endif %}">
                                        <input type="text" name="fullName" id="fullName" tabindex="1" class="form-control" placeholder="Full name" value="{{ val('fullName') }}">
                                        {{ _self.form_errors('fullName') }}
                                    </div>
                                    <div class="form-group{% if has_error('email') %} has-error{% endif %}">
                                        <input type="email" name="email" id="email" tabindex="2" class="form-control" placeholder="Email" value="{{ val('email') }}">
                                        {{ _self.form_errors('email') }}
                                    </div>
                                    <div class="form-group{% if has_error('password') %} has-error{% endif %}">
                                        <input type="password" name="password" id="password" tabindex="3" class="form-control" placeholder="Password">
                                        {{ _self.form_errors('password') }}
                                    </div>
                                    <div class="form-group{% if has_error('confirm_password') %} has-error{% endif %}">
                                        <input type="password" name="confirm_password" id="confirm_password" tabindex="4" class="form-control" placeholder="Confirm password">
                                        {{ _self.form_errors('confirm_password') }}
                                    </div>
                                    <div class="form-group{% if has_error('role') %} has-error{% endif %}">
                                        <select name="role" id="role" tabindex="5" class="form-control">
                                            <option>Role</option>
                                            {% for key, value in roles %}
                                                <option value="{{ key }}"{% if val('role') == key %} selected{% endif %}>{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                        {{ _self.form_errors('role') }}
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                                    <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
