{% extends "frontend.twig" %}

{% macro form_errors(field) %}
    <span class="help-block">{{ error(field) }}</span>
{% endmacro %}

{% block content %}
    <h1>{{ action|capitalize }} Book</h1>
    <hr>
    <div class="row">
        <form class="form-horizontal" id="book-form" novalidate action="{% if action == 'create' %} {{ path_for('book_create') }} {% else %} {{ path_for('book_edit', {'id' : book.id }) }} {% endif %}" method="post" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">ISBN:</label>
                <div class="col-lg-8 form-group{% if has_error('isbn') %} has-error{% endif %}">
                    <input class="form-control" type="text" name="isbn" id="isbn" tabindex="1" placeholder="isbn" value="{{ book.isbn }}">
                    {{ _self.form_errors('isbn') }}
                </div>
                <label class="col-lg-3 control-label">Title:</label>
                <div class="col-lg-8 form-group{% if has_error('title') %} has-error{% endif %}">
                    <input class="form-control" type="text" name="title" id="title" tabindex="2" placeholder="title" value="{{ book.title }}">
                    {{ _self.form_errors('title') }}
                </div>
                <label class="col-lg-3 control-label">Description:</label>
                <div class="col-lg-8 form-group{% if has_error('description') %} has-error{% endif %}">
                    <textarea class="form-control" name="description" id="description" tabindex="3" placeholder="description">{{ book.description }}</textarea>
                    {{ _self.form_errors('description') }}
                </div>
                <label class="col-lg-3 control-label">Published:</label>
                <div class="col-lg-8 form-group{% if has_error('publishedAt') %} has-error{% endif %}">
                    <input class="form-control date-picker" name="publishedAt" id="publishedAt" tabindex="4" value="{{ book.publishedAt|date('d-m-Y') }}">
                    {{ _self.form_errors('publishedAt') }}
                </div>
                <label class="col-lg-3 control-label">Authors:</label>
                <div class="col-lg-8 form-group book-authors">
                    <select class="form-control" id="book-authors" name="authors[]" multiple="multiple">
                        {% for author in book.authors %}
                            <option value="{{ author.id }}" selected="selected">{{ author.fullName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    {% if action == 'create' %}
                        <input type="submit" class="btn btn-primary" value="Save">
                    {% else %}
                        <input type="submit" class="btn btn-warning" value="Save Changes">
                    {% endif %}
                    <span></span>
                    <a href="{{ path_for('book') }}" class="btn btn-default">Cancel</a>
                </div>
            </div>
            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
        </form>
    </div>
{% endblock %}
